.header-list {
    width: 100%;
    display: flex;
    min-height: 4vw;
    align-items: center;
    border-radius: 30px;
    background: repeating-linear-gradient(10deg, var(--main-bg-dark-color), var(--main-bg-bright-color) 3.5vw);
    order: 2;
}


img.arrow {
    z-index: 99;
    height: 3vw;
    width: auto;
}

/*
  .breadcrumb-item{
    align-items: center;
    display: flex;
  }
  */
.breadcrumb-item {
    border-radius: 20px;
    flex: 1 1 auto;
    /* Определите гибкость элементов */
    min-width: 0;
    /* Позволяет тексту переноситься, когда линия полностью заполнена */
    margin-left: 0;
    margin-right: 0;
    height: 100%;

    position: relative;
    max-height: 60px;


}


.breadcrumb-item a {
    line-height: 1.2em;
    font-size: 1.2vw;
    text-size-adjust: auto;
    height: 100%;
    text-decoration: none;
    color: white;
    padding-left: 1vw;
}


.breadcrumb-item a {
    width: 100%;
    max-width: max-content;
    text-align: center;
}

.breadcrumb-item a:last-child {
    font-size: 1.5vw;
    /* Пример размера шрифта */
    text-align: center;
    width: 100%;
}



.prev-page {
    /* flex: 0 0 auto; */
    width: 100%;
    max-width: max-content;
    text-align: center;
}

.current-page {
    width: inherit;
}

.current-page a {
    font-size: 1.5vw;
    /* Пример размера шрифта */
    text-align: center;
    width: 100%;
}