
#root {
  margin: 0 auto;
  text-align: center;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

:root {

  --main-text-color:white;
  --main-green:#A8EF25;
  --main-orange:#DDD044;
  --main-red:#DD4444
  --main-black:#001000;

  --green: #86BB71;
  --blue: #94C2ED;
  --orange: #E38968;
  --gray: #92959E;
}

/*
section.main{
  max-width: 1280px;
  margin: 0 auto;
}*/

.App {
  height: inherit;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body, html{
  width: 100%;
  height: 100%;
}

.sber-background{
  background: rgba(18, 20, 22, 1);
  /*background-image: url("/src/assets/img/background.jpg");*/
  background-image: url("/src/assets/img/bg_main.jpg");
  background-position: center;
  background-size: cover;
}

section.main-menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: auto;
}

body{
  font-family: "Roboto", serif;
}

ul{
  text-decoration: none;

  list-style-type: none;
  padding: 0; 
  margin: 0;
}
a {
  text-decoration: none !important;
}

button{
  border: none;
  background: none;
}



.hidden {
  display: none;
}

li.MuiBreadcrumbs-li:last-child {
  font-size: 1.5vw;
  /* Пример размера шрифта */
  text-align: center;
  width:  inherit;
}

ol.MuiBreadcrumbs-ol.css-1uwp4ue-MuiBreadcrumbs-ol {
  width: 100%;
  flex-wrap: nowrap;
}

button.color-button{
  background-color: var(--main-buttons-bg-color);
}

/*Кнопка назад*/
.return-button img, .back-button img {
  width: 3vw;
  height: 2vw;
}
.button-title {
  color: #fff;
  padding-left: 25px;
  font-family: Roboto, serif;
  padding-top: 0;
  padding-bottom: 0;
}

/*
                        '&:hover': {
                            transform: 'rotateY(10deg) rotateX(5deg)',
                          },*/

                          



.list{
  border: 5px solid black;
  gap: 10px;
  margin-top: 20px;
  justify-content: center;
  display: flex;
}



.list{
  transform-style:  preserve-3d;
  transform: perspective(1000px);
}


.list .item{
  transition: .5s;
  filter: brightness(0);
}

.item:hover{
  transform: translateZ(200px);
  filter: brightness(1);
}



/*braille*/
div#result {
  height: inherit;
}

div#main {
  height: 100%;
  border: 1px solid black;
}

.back-arrow-button img{
  transform: rotateY(180deg);
  max-height: 3vh;
}

.numbers-container{
  height: fit-content;
  position: absolute;
  display: flex;
  bottom: 0;
  align-items: flex-end;
}

.result-number-container , .necessary-number-container{
  height: fit-content;
  bottom: 0;
  border-radius: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 14px;
}
.result-number , .necessary-number{
  font-size: 8vw;
  color:white;
  width: fit-content;
}